*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}
body{
    overflow: hidden;
}
main{
    position: relative;
    height: 100vh;
    width: 100%;
}
img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.weather{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather
.current{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.current
.currently-temp{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    color: #fff;
}
.current-temp{
    font-size: 4rem;
}

.current
.temp-min-max{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    font-size: 1.2rem;
    color: #fff;
}

.currently-description{
    font-size: 1.1rem;
    color: #fff;
}

.heart-container{
    position: relative;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: aliceblue;
    z-index: 999;
}
.fa-heart{
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    color: red;
}

.fa-solid{
    font-size: 2rem;
}

.all-like{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    border-radius: 50%;
    background-color: #fff;
}
.fa-book-heart{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: red;
}

@media only screen and (min-width: 270px){
    .heart-container{
        position: absolute;
        bottom: 20px;
        left: 20px;
        background-color: aliceblue;
        z-index: 999;
    }
    .all-like{
        bottom: 20px;
        right: 20px;
    }
}
